Repository Shopify/ruby-lsp, pull requests merged in 2024-07, with the labels that each got.

#2236 Add predicate methods for `public?` and `protected?` in `RubyIndexer::Entry`
  lib/ruby_indexer/lib/ruby_indexer/entry.rb
Labels: server, other

#2231 Add run task command
  vscode/src/common.ts
  vscode/src/rubyLsp.ts
  vscode/src/workspace.ts
Labels: enhancement, vscode

#2229 Fix `decorated_parameters` for when method has no parameters
  lib/ruby_indexer/lib/ruby_indexer/entry.rb
  lib/ruby_indexer/test/index_test.rb
Labels: bugfix, server

#2241 Add better initialization error handling
  vscode/src/client.ts
  vscode/src/common.ts
  vscode/src/rubyLsp.ts
Labels: enhancement, vscode

#2244 Run label check on PR synchronize
  .github/workflows/require_labels.yml
Labels: chore

#2256 Add missing error information for telemetry
  lib/ruby_lsp/server.rb
  test/server_test.rb
Labels: bugfix, server

#2214 Linearize singleton ancestors
  lib/ruby_indexer/lib/ruby_indexer/declaration_listener.rb
  lib/ruby_indexer/lib/ruby_indexer/entry.rb
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/lib/ruby_indexer/rbs_indexer.rb
  lib/ruby_indexer/test/classes_and_modules_test.rb
  lib/ruby_indexer/test/index_test.rb
  lib/ruby_lsp/requests/type_hierarchy_supertypes.rb
Labels: enhancement, server

#2254 Push disposables to subscriptions
  vscode/src/rubyLsp.ts
  vscode/src/testController.ts
  vscode/src/workspace.ts
Labels: bugfix, vscode

#2263 Add standard to readme's addons list
  README.md
Labels: documentation, addons

#2266 Prepend vscode for relative image references for prereleases
  vscode/package.json
Labels: chore, vscode

#2268 Make the first workspace the main one even when lazy
  vscode/src/rubyLsp.ts
Labels: bugfix, vscode

#2259 Use new telemetry API
  vscode/README.md
  vscode/src/client.ts
  vscode/src/extension.ts
  vscode/src/openFile.ts
  vscode/src/rubyLsp.ts
  vscode/src/telemetry.ts
  vscode/src/test/suite/client.test.ts
  vscode/src/test/suite/fakeTelemetry.ts
  vscode/src/test/suite/telemetry.test.ts
  vscode/src/testController.ts
  vscode/src/workspace.ts
Labels: enhancement, vscode

#2274 Handle possible nil call operator location in completion
  lib/ruby_lsp/listeners/completion.rb
Labels: bugfix, server

#2272 Remove ? and ! from editor.wordSeparators
  vscode/package.json
Labels: enhancement, vscode

#2235 Provide code navigation features to erb files
  lib/ruby_lsp/document.rb
  lib/ruby_lsp/erb_document.rb
  lib/ruby_lsp/internal.rb
  lib/ruby_lsp/listeners/definition.rb
  lib/ruby_lsp/requests/definition.rb
  lib/ruby_lsp/requests/formatting.rb
  lib/ruby_lsp/ruby_document.rb
  lib/ruby_lsp/server.rb
  lib/ruby_lsp/store.rb
  lib/ruby_lsp/test_helper.rb
  test/erb_document_test.rb
  test/requests/completion_test.rb
  test/requests/definition_expectations_test.rb
  test/requests/hover_expectations_test.rb
  test/store_test.rb
  vscode/src/client.ts
  vscode/src/test/suite/client.test.ts
Labels: enhancement, vscode, server

#2279 Raise if the attached namespace is missing during linearization
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/test/index_test.rb
Labels: bugfix, server

#2275 Ensure test group exists before trying to add examples
  vscode/src/test/suite/testController.test.ts
  vscode/src/testController.ts
Labels: bugfix, vscode

#2285 Sanitize backtrace and mark as telemetry trusted
  vscode/src/client.ts
Labels: vscode, other

#2248 Add completion support for locals
  lib/ruby_lsp/document.rb
  lib/ruby_lsp/listeners/completion.rb
  lib/ruby_lsp/node_context.rb
  lib/ruby_lsp/requests/completion_resolve.rb
  test/requests/completion_test.rb
Labels: enhancement, server

#2289 Add extension and server version to telemetry
  vscode/src/client.ts
  vscode/src/extension.ts
Labels: vscode, other

#2293 Check if error data is present before using it
  vscode/src/client.ts
  vscode/src/extension.ts
Labels: bugfix, vscode

#2297 Fix top level namespace declaration indexing
  lib/ruby_indexer/lib/ruby_indexer/declaration_listener.rb
  lib/ruby_indexer/test/classes_and_modules_test.rb
Labels: bugfix, server

#2298 Turn off telemetry for unhandled errors
  vscode/src/extension.ts
Labels: vscode, other

#2257 Add support for running Rails generators from the UI
  vscode/README.md
  vscode/package.json
  vscode/src/common.ts
  vscode/src/rails.ts
  vscode/src/rubyLsp.ts
  vscode/src/test/suite/rails.test.ts
  vscode/src/workspace.ts
Labels: enhancement, vscode

#2300 Migrate indexing configuration to editor settings
  .index.yml
  lib/ruby_lsp/server.rb
  lsp.code-workspace
  test/server_test.rb
  vscode/package.json
  vscode/src/client.ts
Labels: enhancement, server

#2313 Handle documents being deleted before processing their requests
  lib/ruby_lsp/server.rb
  lib/ruby_lsp/store.rb
  test/server_test.rb
Labels: bugfix, server

#2316 Add create Minitest file operation
  vscode/src/commands.ts
  vscode/src/common.ts
  vscode/src/rails.ts
  vscode/src/rubyLsp.ts
  vscode/src/test/suite/rails.test.ts
Labels: enhancement, vscode

#2317 Add keywords to completion candidates
  Gemfile.lock
  lib/ruby_lsp/listeners/completion.rb
  test/requests/completion_test.rb
  vscode/snippets.json
Labels: enhancement, server

#2311 Allow turning off ERB support through setting
  vscode/package.json
  vscode/src/client.ts
Labels: bugfix, vscode

#2322 Handle Sorbet levels to prevent some feature duplication
  lib/ruby_lsp/document.rb
  lib/ruby_lsp/listeners/completion.rb
  lib/ruby_lsp/listeners/definition.rb
  lib/ruby_lsp/listeners/hover.rb
  lib/ruby_lsp/listeners/signature_help.rb
  lib/ruby_lsp/requests/completion.rb
  lib/ruby_lsp/requests/definition.rb
  lib/ruby_lsp/requests/hover.rb
  lib/ruby_lsp/requests/signature_help.rb
  lib/ruby_lsp/requests/support/common.rb
  lib/ruby_lsp/server.rb
  test/requests/completion_test.rb
  test/requests/definition_expectations_test.rb
  test/requests/hover_expectations_test.rb
  test/requests/signature_help_test.rb
  test/ruby_document_test.rb
Labels: bugfix, server

#2344 Update LazyVim docs
  EDITORS.md
Labels: documentation, server

#2210 Introduce guessed receiver types
  DESIGN_AND_ROADMAP.md
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/test/index_test.rb
  lib/ruby_lsp/global_state.rb
  lib/ruby_lsp/listeners/completion.rb
  lib/ruby_lsp/listeners/definition.rb
  lib/ruby_lsp/listeners/hover.rb
  lib/ruby_lsp/listeners/signature_help.rb
  lib/ruby_lsp/requests/completion_resolve.rb
  lib/ruby_lsp/requests/support/common.rb
  lib/ruby_lsp/test_helper.rb
  lib/ruby_lsp/type_inferrer.rb
  lib/ruby_lsp/utils.rb
  test/requests/completion_resolve_test.rb
  test/requests/hover_expectations_test.rb
  test/requests/signature_help_test.rb
  test/type_inferrer_test.rb
Labels: enhancement, server

#2349 Bump Ruby version to v3.3.4
  .ruby-version
Labels: chore

#2352 Start indexing RBS constants
  lib/ruby_indexer/lib/ruby_indexer/rbs_indexer.rb
  lib/ruby_indexer/test/index_test.rb
  lib/ruby_indexer/test/rbs_indexer_test.rb
Labels: enhancement, server

#2355 Properly split singleton nesting during linearization
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/test/index_test.rb
Labels: bugfix, server

#2353 Make Index#index_all index rbs files too
  exe/ruby-lsp
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_lsp/server.rb
  test/requests/completion_test.rb
Labels: chore, server

#2330 Add task to verify indexing against Top 100 RubyGems
  .github/workflows/indexing.yml
  rakelib/index.rake
  rakelib/top_100_gems.yml
  sorbet/config
Labels: chore, server

#2361 Rename constant alias class names
  lib/ruby_indexer/lib/ruby_indexer/declaration_listener.rb
  lib/ruby_indexer/lib/ruby_indexer/entry.rb
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/test/constant_test.rb
  lib/ruby_indexer/test/index_test.rb
Labels: chore, server

#2357 Document highlight shouldn't include the block for a method invocation
  lib/ruby_lsp/listeners/document_highlight.rb
  test/expectations/document_highlight/multiple_invocations.exp.json
  test/fixtures/multiple_invocations.rb
Labels: bugfix, server

#2060 Add outdated version info to troubleshooting guide
  DESIGN_AND_ROADMAP.md
  TROUBLESHOOTING.md
Labels: documentation, server

#2371 Fix grammar for class and module keyword matching
  vscode/grammars/ruby.cson.json
Labels: bugfix, vscode

#2373 docs: fix typo
  vscode/README.md
Labels: chore, vscode

#2397 Correct capability objects for document symbol, folding range, and hover
  lib/ruby_lsp/requests/document_symbol.rb
  lib/ruby_lsp/requests/folding_ranges.rb
  lib/ruby_lsp/requests/hover.rb
Labels: bugfix, server
