Repository Shopify/ruby-lsp, pull requests merged in 2025-02, with the labels that each got.

#3131 Fix local variable assignment highlighting with no spaces
  vscode/grammars/ruby.cson.json
  vscode/src/test/suite/grammars.test.ts
Labels: bugfix, vscode, graphite-merge

#3083 Use bundled environment activation script file
  project-words
  vscode/activation.rb
  vscode/package.json
  vscode/src/debugger.ts
  vscode/src/ruby.ts
  vscode/src/ruby/chruby.ts
  vscode/src/ruby/none.ts
  vscode/src/ruby/versionManager.ts
  vscode/src/test/suite/client.test.ts
  vscode/src/test/suite/debugger.test.ts
  vscode/src/test/suite/ruby.test.ts
  vscode/src/test/suite/ruby/asdf.test.ts
  vscode/src/test/suite/ruby/chruby.test.ts
  vscode/src/test/suite/ruby/custom.test.ts
  vscode/src/test/suite/ruby/mise.test.ts
  vscode/src/test/suite/ruby/none.test.ts
  vscode/src/test/suite/ruby/rbenv.test.ts
  vscode/src/test/suite/ruby/rubyInstaller.test.ts
  vscode/src/test/suite/ruby/rvm.test.ts
  vscode/src/test/suite/ruby/shadowenv.test.ts
Labels: bugfix, vscode, graphite-merge

#3144 Use unique IDs for registering watchers
  lib/ruby_lsp/internal.rb
  lib/ruby_lsp/server.rb
  lib/ruby_lsp/utils.rb
  test/server_test.rb
Labels: bugfix, server, graphite-merge

#3150 Allow server to produce data telemetry
  vscode/src/client.ts
Labels: vscode, other, graphite-merge

#3120 Start discovering all available tests lazily
  vscode/package.json
  vscode/src/common.ts
  vscode/src/test/suite/testController.test.ts
  vscode/src/testController.ts
Labels: enhancement, vscode, graphite-merge

#3151 Prevent relative require completion from failing on permissions
  lib/ruby_lsp/listeners/completion.rb
Labels: bugfix, server

#3157 Pass machine ID to server for telemetry
  lib/ruby_lsp/global_state.rb
  test/global_state_test.rb
  vscode/src/client.ts
Labels: vscode, server, other

#3160 Rescue failing add-on watched files handlers
  lib/ruby_lsp/server.rb
  test/server_test.rb
Labels: bugfix, server

#3152 Fix backward compatibility for Bundler versions < 2.2.17
  lib/ruby_lsp/setup_bundler.rb
  sorbet/rbi/shims/bundler.rbi
  test/setup_bundler_test.rb
Labels: bugfix, server

#3167 Fix off by one error when fetching lazy comments
  lib/ruby_indexer/lib/ruby_indexer/entry.rb
  lib/ruby_indexer/test/classes_and_modules_test.rb
Labels: bugfix, server

#3161 Reject binary encoded environment variables in activation script
  test/integration_test.rb
  vscode/activation.rb
  vscode/package.json
Labels: bugfix, vscode

#3183 Accept module/class node's constant path for constant name
  lib/ruby_indexer/lib/ruby_indexer/index.rb
  lib/ruby_indexer/test/index_test.rb
Labels: server, other

#3197 Avoid focusing on test items on document switch
  vscode/src/testController.ts
Labels: vscode, other, graphite-merge

#3201 Upgrade RuboCop and Sorbet
  Gemfile.lock
  sorbet/rbi/gems/language_server-protocol@3.17.0.4.rbi
  sorbet/rbi/gems/lint_roller@1.1.0.rbi
  sorbet/rbi/gems/parser@3.3.7.1.rbi
  sorbet/rbi/gems/rubocop-ast@1.38.0.rbi
  sorbet/rbi/gems/rubocop@1.72.0.rbi
Labels: chore

#3209 Clarify status item for server version
  vscode/src/status.ts
  vscode/src/test/suite/status.test.ts
Labels: chore, graphite-merge

#3221 Fix incorrect RBS highlighting in Ruby code
  vscode/grammars/rbs.injection.json
  vscode/src/test/suite/grammars.test.ts
Labels: bugfix, vscode

#3231 Try to relaunch if gems are modified between install and setup
  exe/ruby-lsp-launcher
Labels: bugfix, server

#3236 Fix range and workspace processing for test discovery updates
  vscode/src/client.ts
  vscode/src/testController.ts
Labels: bugfix, vscode

#3242 Make RBS signature opacity optional
  vscode/package.json
  vscode/src/extension.ts
  vscode/src/rbs.ts
Labels: vscode, other

#3214 Fix Encoding::UndefinedConversionError in activation.rb
  test/integration_test.rb
  vscode/activation.rb
Labels: bugfix, vscode

#3223 Add test discovery support for Minitest spec style syntax
  lib/ruby_lsp/listeners/spec_style.rb
  lib/ruby_lsp/requests/discover_tests.rb
  test/fixtures/minitest_spec_describe_with_classname.rb
  test/fixtures/minitest_spec_dynamic_name.rb
  test/fixtures/minitest_spec_nested.rb
  test/fixtures/minitest_spec_simple.rb
  test/fixtures/minitest_spec_test_style.rb
  test/requests/discover_tests_test.rb
Labels: enhancement, server

#3146 Append test output when a test fails
  vscode/src/testController.ts
Labels: bugfix, vscode

#3238 Add `test-unit` reporter
  .rubocop.yml
  Gemfile
  Gemfile.lock
  lib/ruby_indexer/lib/ruby_indexer/uri.rb
  lib/ruby_lsp/test_reporter.rb
  lib/ruby_lsp/test_unit_test_runner.rb
  project-words
  sorbet/rbi/gems/json@2.10.1.rbi
  sorbet/rbi/gems/power_assert@2.0.5.rbi
  sorbet/rbi/gems/test-unit@3.6.7.rbi
  sorbet/rbi/shims/uri.rbi
  sorbet/tapioca/require.rb
  test/fixtures/test_unit_example.rb
  test/test_unit_test_runner_test.rb
Labels: enhancement, server, graphite-merge
