Repository Shopify/ruby-lsp, pull requests merged in 2025-04, with the labels that each got.

#3381 Ensure colons are escaped when building URIs
  lib/ruby_indexer/lib/ruby_indexer/uri.rb
  lib/ruby_indexer/test/uri_test.rb
Labels: bugfix, server

#3343 Allow test run cancellation in Test Results panel
  vscode/src/linkedCancellationSource.ts
  vscode/src/test/suite/linkendCancellationSource.test.ts
  vscode/src/test/suite/testController.test.ts
  vscode/src/testController.ts
Labels: vscode, other

#3399 Upgrade Sorbet to v0.5.12017
  Gemfile.lock
  lib/ruby_lsp/requests/support/source_uri.rb
Labels: dependencies, ruby

#3401 Avoid recursion when collecting prefix tree node values
  lib/ruby_indexer/lib/ruby_indexer/prefix_tree.rb
  lib/ruby_indexer/test/index_test.rb
  lib/ruby_indexer/test/prefix_tree_test.rb
  test/requests/completion_test.rb
Labels: server, other

#3413 Read initialize request from a file when retrying
  exe/ruby-lsp-launcher
  lib/ruby_lsp/scripts/compose_bundle.rb
  test/integration_test.rb
Labels: bugfix, server

#3388 Use a TCP server to listen to streaming test events
  vscode/src/streamingRunner.ts
  vscode/src/test/suite/fakeTestServer.js
  vscode/src/test/suite/testController.test.ts
  vscode/src/testController.ts
Labels: vscode, other

#3425 Make run in terminal a proper explorer profile
  vscode/src/streamingRunner.ts
  vscode/src/test/suite/testController.test.ts
  vscode/src/testController.ts
Labels: enhancement, vscode

#3426 Connect code lens buttons to the new explorer
  vscode/src/rubyLsp.ts
  vscode/src/testController.ts
Labels: enhancement, vscode

#3435 Pin GitHub Actions to commit
  .github/workflows/ci.yml
  .github/workflows/close_stale_issues_and_prs.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/dependabot_update_rbis.yml
  .github/workflows/indexing.yml
  .github/workflows/publish.yml
  .github/workflows/publish_docs.yml
  .github/workflows/release.yml
  .github/workflows/require_labels.yml
  .github/workflows/version_bump.yml
Labels: chore

#3433 Require `bundler/setup` for running tests
  vscode/src/testController.ts
Labels: bugfix, vscode

#3434 Show message if we cannot find related files
  vscode/src/rubyLsp.ts
Labels: vscode, other

#3432 Always set RUBYOPT when running tests in terminal
  vscode/src/streamingRunner.ts
Labels: bugfix, vscode

#3431 Only emit shutdown event after processing coverage
  lib/ruby_lsp/test_reporters/lsp_reporter.rb
  test/test_reporters/lsp_reporter_test.rb
Labels: bugfix, server
